@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&display=swap');

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  width: 100vw;
  height: 100vh;
  font: 600 18px Nunito, sans-serif;

  background: linear-gradient(
    145deg, 
    rgba(0,255,231,1) 0%, 
    rgba(155,255,231,1) 50%, 
    rgba(255,255,255,1) 100%
    );
}

main
{
  height: 100%;
  width: 100%;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

main header
{
  height: 10%;

  color: steelblue;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

main header img
{
  width: 50px;
}

main article
{
  width: 80%;
  height: 70%;

  border: 2px solid #FFF;
  border-right: 2px solid steelblue;
  border-bottom: 2px solid steelblue;
}

main footer
{
  height: 10%;
}

main footer button
{
  width: 150px;
  height: 50px;
  
  border-radius: 10px;
  border: 2px solid royalblue;

  color: white;
  background-color: steelblue;

  font: 400 18px Nunito, sans-serif;
}

main footer button:hover,
main footer button:focus
{
  color: royalblue;
  border-color: lightblue;
  background-color: lightsteelblue;

  outline: none;
}